@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
body{
    font-family: Lato;
   margin: 0%;
}
section ul{
    display: flex;
    background-color: aquamarine;
     margin: 0%;
   
}
ul{
    justify-content: space-around;
}
ul li {
    list-style: none;
    text-decoration: none;
    padding: 10px ;
}
@media screen and (max-width:600px){
ul {
    flex-direction: column;
}
}